<div class="container artists">
  <div class="row">
    <div class="col-sm-12">
      <header>
        <h1>Albums</h1>
      </header>

      <div class="albums-list">
      <% @artists.albums.each do |album| %>
        <div class="albums">
          <div class="row">
            <div class="card" style="width: 18rem;">
              <img src="<%= album.image_url %>" class="card-img-top" alt="<%= album.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= album.released_at %></h5>
                <h6 class="card-title"><%= album.name %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
